/* links start */
.links .p {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: #8b8b8b;
}
.links p:hover {
  text-decoration: underline;
}
.links {
  margin-top: 56px;
  margin-bottom: 32px;
  display: flex;
  gap: 32px;
}
.links p:hover {
  color: #000000;
}
/* cards2 start */
.phone3 {
  width: 160px;
  height: 160px;
}
.cards2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 56px;
}
@media (max-width: 1160px) {
  .cards2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .cards2 .card2 {
    width: 100%;
    object-fit: cover;
  }
}
.card2 {
  gap: 16px;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  align-items: center;
  width: 268px;
  height: 432px;
  min-width: 200px;
  border-radius: 9px;
  padding-top: 72px;
  position: relative;
}
.heart {
  position: absolute;
  top: 24px;
  right: 16px;
}
@media (max-width: 1160px) {
  .heart {
    right: 12px;
  }
}
.apple {
  text-align: center;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
}
.grey {
  background-color: #fafafa;
}
.dollar {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
}
.buyNow {
  margin-top: 8px;

  width: 188px;
  height: 48px;
  border-radius: 8px;
  padding-top: 12px 64px;
  color: #fff;
  background-color: #211c24;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
@media (max-width: 1160px) {
  .card2 {
    gap: 8px;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    align-items: center;
    height: 352px;
    min-width: 163.5px;
    border-radius: 9px;
    padding-top: 64px;
  }
  .container {
    padding-inline: 16px;
  }
  .apple {
    padding-bottom: 8px;
  }
  .grey {
    background-color: #fafafa;
  }
  .dollar {
    padding-bottom: 8px;
  }
  .phone3 {
    width: 104px;
    height: 104px;
  }
  .buyNow {
    margin-top: 0px;

    width: 140px;
    height: 48px;
  }
}

.discounts {
  padding-top: 80px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #000000;
}
.container {
  max-width: 1120px;
  width: 100%;
  margin: auto;
}
